<div class="container sign-in-container">
    <div class="card">
        <div class="card-body">
            <div class="auth-options">
                <div [routerLink]="['/auth', 'sign-up']">
                    <h2 class="cursor">Sign Up</h2>
                </div>
                <div class="active" [routerLink]="['/auth', 'login']">
                    <h2 class="cursor">Sign In</h2>
                </div>
            </div>
            <form id="login-form" [formGroup]="createPasswordForm" (ngSubmit)="createPassword()">
                <h2>YOUR NEW PASSWORD!</h2>
                <!--<div *ngIf="error$ | async" id="authError"><p>{{ error$ | async }}</p></div>-->
                <fieldset>
                    <div class="field">
                        <label for="email" class="form-label">Email address:</label>
                        <input type="email" class="form-control form-control-lg" formControlName="password">
                    </div>
                    <div class="field">
                        <label for="password" class="form-label">Password:</label>
                        <input type="password" class="form-control form-control-lg" formControlName="repeatedpassword">
                    </div>
                    <div class="submit d-grid">
                        <button class="btn" type="button">Recover Password</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
