<div class="container sign-in-container">
    <div class="card">
        <div class="card-body" *ngIf="!(verificationLoading$ | async) else loading">
            <ng-container *ngIf="!(error$ | async)">
                <h3>AUTHENTIFICATION COMPLETE</h3>
                <div class="row">
                    <p>Welcome to TimeMatters! You are now a new member of our community. We are proud to have you with us.</p>
                </div>
                <fieldset>
                    <div class="submit d-grid">
                        <button class="btn" type="button">Go to principal page</button>
                    </div>
                </fieldset>
            </ng-container>
            <ng-container *ngIf="error$ | async">
                <h3>{{ 'ERROR.SOMETHING-WENT-WRONG' | translate }}</h3>
            </ng-container>
        </div>
        <ng-template #loading>
            <tms-loading class="loader"></tms-loading>
        </ng-template>
    </div>
</div>
