<ng-container [formGroup]="signUpForm">
    <div class="row">
        <div class="column-auto">
            <mat-radio-group>
                <mat-radio-button class="rounded-input" value="after">Teacher</mat-radio-button>
                <mat-radio-button class="rounded-input" value="before">Student</mat-radio-button>
            </mat-radio-group>
        </div>
    </div>
    <div class="row">
        <div class="column-auto">
            <mat-form-field class="rounded-input backgrounded-input">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email">
                <mat-error *ngIf="signUpForm.get('email').errors?.email">Email is not valid.</mat-error>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="column-2">
            <mat-form-field class="rounded-input backgrounded-input">
                <mat-label>Password</mat-label>
                <input matInput formControlName="password">
                <mat-error *ngIf="signUpForm.get('password').errors?.password">Password does not meet the requirements.</mat-error>
            </mat-form-field>
        </div>
        <div class="column-2">
            <mat-form-field class="rounded-input backgrounded-input">
                <mat-label>Repeat your password</mat-label>
                <input matInput formControlName="repeatedPassword" [errorStateMatcher]="matcher">
                <mat-error *ngIf="!signUpForm.get('password').errors?.password && signUpForm.hasError('notSame')">Password does not meet the requirements.</mat-error>
            </mat-form-field>
        </div>
    </div>
</ng-container>
