<form [formGroup]="signUpForm" (ngSubmit)="signUp()">
	<mat-card>
		<mat-card-title>Sign Up</mat-card-title>
		<mat-card-content>
			<mat-form-field>
				<mat-label>Email</mat-label>
        <input matInput formControlName="email">
        <mat-error *ngIf="signUpForm.get('email').errors?.email">Email is not valid.</mat-error>
			</mat-form-field>
			<mat-form-field>
				<mat-label>Password</mat-label>
        <input matInput formControlName="password">
        <mat-error *ngIf="signUpForm.get('password').errors?.password">Password does not meet the requirements.</mat-error>
			</mat-form-field>
			<mat-form-field>
				<mat-label>Repeat your password</mat-label>
        <input matInput formControlName="repeatedPassword" [errorStateMatcher]="matcher">
        <mat-error *ngIf="!signUpForm.get('password').errors?.password && signUpForm.hasError('notSame')">Password does not meet the requirements.</mat-error>
			</mat-form-field>
		</mat-card-content>
	</mat-card>
</form>
