<div class="container">
    <div class="row">
        <div class="column-grow-auto stepper-container">
            <div class="row">
                <div class="column-auto">
                    <h2 class="step-title">STEP {{ actualStep }} OF {{ steps.length }}</h2>
                    <lwa-vertical-stepper
                        [steps]="steps"
                        [actual]="actualStep"></lwa-vertical-stepper>
                </div>
            </div>
        </div>
        <div class="column-grow-4 sign-up-container">
            <form [formGroup]="signUpForm" (ngSubmit)="signUp()">
                <div *ngIf="error$ | async" id="authError"><p>{{ error$ | async }}</p></div>
                <mat-card>
                    <mat-card-title class="card-title">Your information</mat-card-title>
                    <mat-card-content>
                        <lwa-user-data
                            [signUpForm]="signUpForm"
                            [matcher]="matcher"></lwa-user-data>
                    </mat-card-content>
                    <mat-card-actions>
                        <div class="row">
                            <div class="column-auto action-button">
                                <button mat-raised-button type="submit" color="primary">Sign Up</button>
                            </div>
                        </div>
                    </mat-card-actions>
                </mat-card>
            </form>
        </div>
        <div class="column-grow-auto"></div>
    </div>
</div>
