<div class="container sign-in-container">
    <div class="card">
        <div class="card-body">
            <div class="auth-options">
                <div [routerLink]="['/auth', 'sign-up']">
                    <h2 class="cursor">Sign Up</h2>
                </div>
                <div class="active" [routerLink]="['/auth', 'login']">
                    <h2 class="cursor">Sign In</h2>
                </div>
            </div>
            <form id="login-form" [formGroup]="loginForm" (ngSubmit)="login()">
                <h2>SIGN IN WITH EMAIL</h2>
                <!--<div *ngIf="error$ | async" id="authError"><p>{{ error$ | async }}</p></div>-->
                <fieldset>
                    <div class="field">
                        <label for="email" class="form-label">Email address:</label>
                        <input type="email" class="form-control form-control-lg" formControlName="email">
                    </div>
                    <div class="field">
                        <label for="password" class="form-label">Password:</label>
                        <input type="password" class="form-control form-control-lg" formControlName="password">
                    </div>
                    <div class="submit d-grid">
                        <button class="btn" type="button">Sign In</button>
                    </div>
                    <div class="forgotten-password">
                        <a [routerLink]="['/auth', 'password', 'reset']">Forgot password?</a>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
