<div class="container sign-in-container">
    <div class="card">
        <div class="card-body" *ngIf="!(authLoading$ | async) else loading">
            <tms-auth-options [active]="'login'"></tms-auth-options>
            <form id="login-form" [formGroup]="loginForm" (ngSubmit)="login()">
                <h3>SIGN IN WITH EMAIL</h3>
                <div *ngIf="error$ | async" class="alert alert-danger" role="alert">{{ (error$ | async) | translate }}</div>
                <fieldset>
                    <div class="field">
                        <label for="email" class="form-label">Email address:</label>
                        <input type="email" class="form-control form-control-lg" formControlName="email">
                    </div>
                    <div class="field">
                        <label for="password" class="form-label">Password:</label>
                        <input type="password" class="form-control form-control-lg" formControlName="password">
                    </div>
                    <div class="submit d-grid">
                        <button class="btn" type="button">Sign In</button>
                    </div>
                    <div class="forgotten-password">
                        <a [routerLink]="['/auth', 'password', 'reset']">Forgot password?</a>
                    </div>
                </fieldset>
            </form>
        </div>
        <ng-template #loading>
            <tms-loading class="loader"></tms-loading>
        </ng-template>
    </div>
</div>
