<form id="password-create-form" [formGroup]="createPasswordForm" (ngSubmit)="createPassword()">
    <fieldset>
        <div class="field">
            <label for="password" class="form-label">{{ 'AUTH.PASSWORD' | translate }}:</label>
            <input type="password" class="form-control form-control-lg" formControlName="password">
        </div>
        <div class="field">
            <label for="repeatedPassword" class="form-label">{{ 'AUTH.REPEATED-PASSWORD' | translate }}:</label>
            <input type="password" class="form-control form-control-lg" formControlName="repeatedPassword">
        </div>
        <div class="submit d-grid">
            <button class="btn" type="button">Recover Password</button>
        </div>
    </fieldset>
</form>
