<ng-container *ngIf="!authResult">
    <form id="password-create-form" [formGroup]="createPasswordForm" (ngSubmit)="createPassword()">
        <fieldset>
            <div class="field">
                <label for="password" class="form-label">{{ 'AUTH.PASSWORD' | translate }}:</label>
                <input type="password" class="form-control form-control-lg" formControlName="password">
            </div>
            <div class="field">
                <label for="repeatedPassword" class="form-label">{{ 'AUTH.REPEATED-PASSWORD' | translate }}:</label>
                <input type="password" class="form-control form-control-lg" formControlName="repeatedPassword">
            </div>
            <div class="submit d-grid">
                <button type="submit" class="btn">{{ 'AUTH.FORM.UPDATE-PASSWORD' | translate }}</button>
            </div>
        </fieldset>
    </form>
</ng-container>

<ng-container *ngIf="authResult">
    <p>{{ 'AUTH.PASSWORD-CREATE-MESSAGE' | translate }}</p>
</ng-container>
