<div class="content-wrapper">
    <h2>Price</h2>
    <div class="range">
        <span class="range__label" *ngIf="fixed">{{ rangeValues?.min }}&euro;</span>
        <span class="range__input-label" *ngIf="!fixed">
            <input
                type="number"
                step="1"
                class="range__input-label__field"
                [value]="rangeValues?.min"
                [min]="min"
                [max]="max"
                [readonly]="fixed"
                (keyup.enter)="updateRangeValues($event, 'left')"
                (blur)="updateRangeValues($event, 'left')" />
            <span class="range__input-label__currency">&euro;</span>
        </span>
        <div class="range__track" [ngStyle]="{'width': LINE_WIDTH + 'px'}">
            <div class="line">
                <span class="dot dot__left" #leftBullet
                    [attr.aria-valuenow]="rangeValues?.min"
                    [attr.aria-valuemin]="min"
                    [attr.aria-valuemax]="rangeValues?.max - 1"
                    (panleft)="onPanBullet($event, -1, 'left')"
                    (panright)="onPanBullet($event, 1, 'left')"
                    [ngStyle]="{'right': rangeValues ? ((LINE_WIDTH - (((rangeValues['min'] - min) * LINE_WIDTH) / (max - min))) * 100) / LINE_WIDTH + '%' : '100%'}"></span>
                <span class="dot dot__right" #rightBullet
                    [attr.aria-valuenow]="rangeValues?.max"
                    [attr.aria-valuemin]="rangeValues?.min + 1"
                    [attr.aria-valuemax]="max"
                    (panleft)="onPanBullet($event, -1, 'right')"
                    (panright)="onPanBullet($event, 1, 'right')"
                    [ngStyle]="{'left': rangeValues ? (((LINE_WIDTH * rangeValues['max']) / max) * 100) / LINE_WIDTH + '%' : '100%'}"></span>
            </div>
        </div>
        <span class="range__label" *ngIf="fixed">{{ rangeValues?.max }}&euro;</span>
        <span class="range__input-label" *ngIf="!fixed">
            <input
                type="number"
                step="1"
                class="range__input-label__field"
                [value]="rangeValues?.max"
                [min]="min"
                [max]="max"
                [readonly]="fixed"
                (keyup.enter)="updateRangeValues($event, 'right')"
                (blur)="updateRangeValues($event, 'right')"/>
            <span class="range__input-label__currency">&euro;</span>
        </span>
    </div>
</div>

