.sign-up-container {
    box-sizing: border-box;
    padding: 4rem 0rem;

    .mat-form-field {
        width: 100% !important;
    }
}

.action-button {
    width: 150px;
    text-align: right;
}

.step-title {
    margin-left: 32px !important;
}
