/* You can add global styles to this file, and also import other style files */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body { height: 100%; }

body {
    margin: 0;
    font-size: 16px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: $light-grey;
}

.cursor {
    cursor: pointer;
}

.container {
    padding: 16px;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    align-items: stretch;
    padding: 12px;

    @media only screen and (max-width: $bp-tablet) {
        display: block;
        padding: 0px;
        text-align: center;
    }
}

// titles
h2 {
    margin-top: 18px;
    margin-bottom: 18px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    font-size: 18px;
    letter-spacing: 2.3px;
}

// forms
fieldset {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

label {
    font-weight: 700;
    text-transform: uppercase;
    color: $darkest-grey;
    line-height: 1.7;
    font-size: 14px;
    letter-spacing: 2px;
}

.submit .btn{
    background: $primary-color;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 10px;
    margin-top: 8px;
}

.feedback {

    margin-top: .25rem;
    font-size: 80%;

    &__valid {
        color: $green;
    }

    &__invalid {
        color: $red;
    }
}

// hyperlink
a {
    text-decoration: none;
}

a:active, a:hover, a:link, a:visited {
    color: #222;
}

.card-title {
    padding: 16px;
}

.rounded-input {
    padding: 16px;
    border: 1px solid $grey;
    border-radius: 5px;
    min-width: 150px;
}

.backgrounded-input {
    background-color: $light-grey;
}
