/* You can add global styles to this file, and also import other style files */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1;
}

html, body { height: 100%; }

body {
    margin: 0;
    font-size: 16px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
}

.cursor {
    cursor: pointer;
}

// titles
h2, h3, h4 {
    margin-top: 18px;
    margin-bottom: 18px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2.3px;
}

h2 {
    font-size: 18px;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 14px;
}

// routerlink focus outline
*[ng-reflect-router-link]:focus {
    outline: none;
}

 // hyperlink
a {
    text-decoration: none;
}

// list
li {
    list-style-type: none;
}

.nav {
    padding: 2rem;

    .nav-list {
        flex-direction: row;
        display: flex;
        width: 100%;
        margin: 0;
        padding: 0;
        justify-content: center;

        .nav-item {
            margin: 0 8px;
        }
    }
}

fieldset {
    margin: 0 auto;
    padding: 0;
    border: 0;
    padding-bottom: 50px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
