.logo-company {
    color: #fff;
}

.auth-logo {
    color: $primary-color;
}

.header-backgrounded {
    background-color: $secondary-color;
}

//navbar
.navbar {
    z-index: 1;

    &__items {
        justify-content: flex-end;
    }

    &__icon {
        padding: .25rem .75rem;
        font-size: 1.25rem;
        line-height: 1;
        background-color: transparent;
        border: 1px solid transparent;
        border-radius: .25rem;
        transition: box-shadow .15s ease-in-out;

        &__mobile {
            display: none;

            @media only screen and (max-width: $bp-tablet) {
                display: flex;
            }
        }
    }
}

.nav-link, .navbar__icon__mobile {
    color: $light-grey;
}

.nav-link:hover {
    color: #fff;
}

.s-header {
    height: 100vh;
    padding-top: 0;
    margin-top: -73px;
}

.toolbar-wrapper {
    padding: 0 2rem;

    @media only screen and (max-width: $bp-tablet) {
        padding: 0;
    }
}
