$bp-tablet: 768px;
$bp-phone: 480px;

$primary-color: rgb(0, 113, 206);
$secondary-color: rgb(44, 44, 51);
$background-color: rgb(245, 247, 249);

$darkest-grey: hsl(209, 15%, 28%);
$dark-grey: hsl(207, 12%, 43%);
$grey: hsl(208, 12%, 58%);
$light-grey: rgba(255,255,255,.65);
$lightest-grey: hsl(210, 38%, 97%);

$white: #FCFCFC;
$black: #1C1E20;
$lighest-black: #202D34;

$green: #28a745;
$red: #dc3545;
